<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Splash</title>

  <!--[if le IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="scripts/respond.js"></script>
    <![endif]-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Righteous|Nova+Square' rel='stylesheet' type='text/css'>
  <link href="/public/styles/normalize.css" rel="stylesheet" type="text/css">
  <link href="/public/styles/app.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="wrapper">

    <header>
      <h1>Splash</h1>
    </header>

    <canvas class="visualizer" width="640" height="100"></canvas>
    <article class="wrapperArt">

      <label for="gain">gain</label>
      <input type="range" id="gain" name="gain" min="0" max="1" value="0.0" step="0.05"></input>
    </article>
    <article>
      <section>
        <aside>
          <label for="delaytime">delay</label>
          <!--input type="range" -->
          <input type="number" name="delaytime" min="0" max="1" value="1" step="0.05"></input>
        </aside>
        <aside>
          <label for="feedback">feedback</label>
          <!--input type="range" -->
          <input type="number" name="feedback" min="0" max="100" value="25" step="0.5"></input>
        </aside>
        <aside>
          <label for="frequency">bypassNode</label>
          <!--input type="range"-->
          <input type="number" name="bypass" min="0" max="100" value="25" step="0.5"></input>
        </aside>
      </section>
      <section>
        <aside>
          <label for="feedback">biquadFilter</label>
          <span>types</span>
          <select id="biquad" name="biquadtype">
            <option value="allpass">allpass</option>
            <option value="bandpass">bandpass</option>
            <option value="highshelf">highshelf</option>
            <option value="lowshelf">lowshelf</option>
            <option value="notch">notch</option>
            <option value="peaking">peaking</option>
          </select>
          <span>gain</span>
          <input type="number" name="biquadFiltergain" min="0" max="100" value="25" step="0.5"></input>
          <span>freq</span>
          <input type="number" name="biquadFilterfreq" min="0" max="4000" value="1000" step="100"></input>        

        </aside>
      </section>
      <section>
        <aside>
          <label for="distortion">distortion</label>
          <span>oversample</span>
          <!--input type="range" -->
          <input type="number" name="feedback" min="1" max="100" value="4" step="1"></input>
          <span>curve</span>
          <!--input type="range"-->
          <input type="number" name="curve" min="0" max="10000" value="400" step="1"></input>
        </aside>
      </section>
    </article>
    <form class="controls">
      <div>
        <label for="voice">Voice setting</label>
        <select id="voice" name="voice">
          <option value="distortion">Distortion</option>
          <option value="biquad">Bass Boost</option>
          <option value="specialVoice">special Distortion</option>
          <option value="specialVoice2">special Distortion2</option>
          <option value="specialVoice3">special Distortion3</option>
          <option value="delayVoice">delay Voice</option>
          <option value="delayVoice2">delay Voice2</option>
          <option value="delayVoice3">delay Voice3</option>
          <option value="delayVoice4">delay Voice4</option>
          <option value="off" selected>Off</option>
        </select>
      </div>
      <div>
        <label for="visual">Visualizer setting</label>
        <select id="visual" name="visual">
          <option value="sinewave">Sinewave</option>
          <option value="frequencybars" selected>Frequency bars</option>
          <option value="off">Off</option>
        </select>
      </div>
      <div>
        <audio autoplay controls></audio>
        <a class="mute">Mute</a>
      </div>
    </form>


  </div>

  <label for="toggle">❔</label>
  <input type="checkbox" id="toggle">
  <aside class="aside">
    <h2>Information</h2>

    <p>Voice-change-O-matic is built using:</p>

    <ul>

      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a>, which is currently supported in Firefox, Opera (desktop/mobile) and Chrome (desktop only.) Firefox
        requires no prefix; the others require
        <code>webkit</code> prefixes.</li>

      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">Web Audio API</a>, which is currently supported in Firefox, Chrome, Safari (desktop/mobile) and Opera (desktop only).
        Firefox and Opera require no prefix; Chrome requires
        <code>webkit</code> prefixes.</li>

    </ul>

    <button id="install-btn">Install app</button>
  </aside>

  <!-- The following element pulls in the script for the default template functionality -->

  <script src="/public/scripts/install.js"></script>

  <!-- Below is your custom application script -->

  <script src="/public/scripts/app.js"></script>
  <script>

    const controls = document.querySelectorAll('input[type=number]');
    visualSelect.onchange = function () {
      window.cancelAnimationFrame(drawVisual);
      visualize();
    };

    voiceSelect.onchange = function () {
      release()
      init();
      console.log(started)
    };

    mute.onclick = voiceMute;

    controls[0].oninput = function (event) {
      gainNode.gain.setTargetAtTime(this.value, audioCtx.currentTime, 0)
    }

    controls[1].oninput = function (event) {
      delayNode.delayTime.setTargetAtTime(this.value, audioCtx.currentTime, 0)
    }
    controls[2].oninput = function (event) {
      feedbackNode.gain.setTargetAtTime(this.value, audioCtx.currentTime, 0)
    }

    controls[3].oninput = function (event) {
      biquadFilter.frequency.setTargetAtTime(this.value, audioCtx.currentTime, 0)
    }
    controls[4].oninput = function (event) {
      bypassNode.gain.setTargetAtTime(this.value, audioCtx.currentTime, 0)
    }
    controls[5].oninput = function (event) {
      distortion.oversample = this.value;
    }
    controls[6].oninput = function (event) {
      distortion.curve = makeDistortionCurve(this.value)
    }
  </script>
</body>

</html>