<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Media stream and recording App">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
    <meta itemprop="description" content="Client-side Media stream and recording App">
    <meta itemprop="image" content="src/images/webrtc-icon-192x192.png">
    <meta itemprop="name" content="Media stream and recording">
    <meta name="mobile-web-app-capable" content="yes">
    <meta id="theme-color" name="theme-color" content="#ffffff">
    <base target="_blank">
    <!-- Latest compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="public/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="public/css/stylish.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js"> </script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
</head>

<body>
    <nav id="header1" class=" navbar navbar-default">
        <div class="col-xs-12 ">
            <h3>
                <b>Versage</b>
            </h3>
        </div>
    </nav>

    <div class="content modal" id="windowErr">
        <div class="row" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content-primary navbar-default col-xs-8" id="activeRoom">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="errorhandler()">×</button>
                        <div class="col-xs-12">
                            <h3>
                                <b id="errorHeader">ERROR</b>
                            </h3>
                        </div>
                    </div>
                    <div class="modal-body-primary">
                        <div class="form col-lg-12 center-block">
                            <div class="form-group" id="windowErrMsg">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="nickWrap">
        <div class="row " tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content-primary navbar-default col-xs-8">
                    <div class="modal-header">
                        <div class="text-center col-xs-12">
                            <h3>
                                <b>Login</b>
                            </h3>
                        </div>
                    </div>
                    <div class="modal-body-primary">
                        <div class="form col-lg-12 center-block">
                            <div class="form-group">
                                <input id="nickname" type="text" class="form-control input-xs" placeholder="Nickname">
                            </div>
                            <div class="form-group">
                                <input id="pass" type="password" class="form-control input-xs" placeholder="Password">
                            </div>
                            <div class="form-group">

                                <button class="btn btn-default btn-xm btn-block" onclick="start('public')">Sign In</button>
                                <span>
                                    <a href="#">Register</a>
                                </span>
                                <span>
                                    <a href="#">
                                        <button class="img-rounded label label-primary pull-right">Cancel</button>
                                        <br>
                                    </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header2">
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary navbar-btn" onclick="toggleSidebar('sidebar-wrapper')">
                Users
            </button>
        </div>
        <div class="col-xs-4 text-center ">
            <h3 class="header2h3">
                <b>Versage</b>
            </h3>

        </div>
        <div class=" col-xs-4">
            <button type="button" class="btn btn-primary navbar-btn pull-right" onclick="toggleSidebar2('sidebar-wrapper2')">
                Rooms

            </button>
        </div>
    </div>


    <div id="contentWrap" class="container">
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="sidebar-nav panel panel-primary">
                    <div id="roomLb" class="panel-heading">
                        <h3 class="panel-title" id="roomLb2">room public user diogo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12" id="users">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper2">
            <!-- Sidebar -->
            <div id="sidebar-wrapper2">
                <div class="">
                    <div class="">
                        <h3 class="">Rooms</h3>
                    </div>
                    <div class="">
                        <div class="col-xs-12" id="buttonArea">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- media area -->

        <div class="container">
            <div class="row center">
                <div class="sideBySide">
                    <div class="video">
                        <video autoplay="true" class="col-xs-12" id="videoElement">
                        </video>
                        <div class="">
                            <button class="btn-lg" onclick="onGetUserMediaButtonClick()"> get media</button>
                            <button class="btn-lg" onclick="onGrabFrameButtonClick()"> grab frame</button>
                            <button class="btn-lg" onclick="onTakePhotoButtonClick()"> take photo</button>
                            <button class="btn-lg" onclick="getFromVideoElement()">from Element</button>
                            <button class="btn-lg" onclick="toStop()"> Stop </button>
                        </div>
                    </div>
                    <div class="video">
                        <video autoplay="true" class="videoElement4" id="videoElement4">
                        </video>
                        <div class="">
                            <button class="btn btn-lg" onclick="hangup(false)"> hangup </button>
                            <button class="btn btn-lg" onclick="restart(true)"> restart </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <audio id="gum-local" autoplay></audio>
                </div>
                <div class="col-xs-12">
                    <audio id="gum-remote" autoplay></audio>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-8">
                        <button class="btn-lg" onclick="toRecord('#videoElement', this)">record HOST</button>
                        <button class="btn-lg" onclick="toRecord('#videoElement4')">record REMOTE</button>
                        <button class="btn-lg" onclick="toStopRecord()"> Stop Record</button>
                        <button class="btn-lg" onclick="toDownload()"> Download Recorded</button>
                    </div>
                </div>
            </div>

            <nav class="row">
                <div class="col-xs-12">

                </div>
            </nav>

            <div class="row ">
                <div class="row schoosh">
                    <div class="col-xs-4">
                        <div class="col-xs-12">
                            <label for="videoElement2">videoElement2</label>
                        </div>
                        <div class="col-xs-12">
                            <video autoplay="true" controls id="videoElement2">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 bottom">
                    <button class="btn btn-lg" onclick="toPlayRecorded()"> Play Recorded</button>
                </div>
            </div>

        </div>


        <div class="row rowseparation">
            <div class="col-xs-12">
                <canvas id="grabFrameCanvas"></canvas>
                <nav class="navbar">
                    <button class="btn-lg" onclick="toRecord('#grabFrameCanvas', this)">record</button>
                    <button class="btn-lg" onclick="toStopRecord()"> Stop Record</button>
                </nav>
            </div>
        </div>
        <div class="row rowseparation">
            <div class="col-xs-12">
                <canvas id="takePhotoCanvas"></canvas>
                <nav class="navbar">
                    <button class="btn-lg" onclick="toRecord('#takePhotoCanvas', this)">record</button>
                    <button class="btn-lg" onclick="toStopRecord()"> Stop Record</button>
                </nav>
            </div>
        </div>
        <div class="row rowseparation">
            <div class="col-xs-12">
                <div class="col-xs-4">
                    <canvas id="getFromVideoElement"></canvas>
                </div>
                <div class="col-xs-4">
                    <video autoplay="true" controls id="videoElement3">
                    </video>
                </div>
                <div class="col-xs-12">
                    <button class="btn-lg" onclick="toRecord('#getFromVideoElement', this)">record</button>
                    <button class="btn-lg" onclick="toStream('#getFromVideoElement', '#videoElement3')">stream</button>
                    <button class="btn-lg" onclick="toStopRecord()"> Stop Record</button>
                </div>
            </div>
        </div>
    </div>
    <!-- chat Area -->

    <div class="row ">
        <div id="chatBox" class="chatBox">
            <div id="page-content-wrapper" class="col-xs-12 scrollbar">
                <div class="col-xs-8" id="chat">

                </div>
            </div>
        </div>
        <div class="navbar navbar-fixed-bottom">
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="message" id="message">
                <button class="btn btn-sm" onclick="newMessage()">Send</button>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script type="module" src="/public/js/peerConnection-v0.1.0.js"></script>
    <script type="module" src="/public/js/usermedia-v0.1.0.js"> </script>    
    <script src="public/js/main.js"></script>
</body>

<script src="public/js/togleandclose.js"></script>
<script src="public/js/chatclient.js"></script>

</html>